@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

/* * {
  box-sizing: border-box;
} */

body {
  font-family: "Cherry Cream Soda", cursive;
  /* background-size: cover; */
}

h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 28px;
  font-weight: 400;
}

p {
  border: 2px solid white
}

nav .logo {
  text-align: center;
  /* background-color: black; */
  color: white;
}

nav .i {
  color: white;
  font-size: 30px;
  text-align: left;
}

#random-park-button {
  text-align: left;
  font-family: 'Bungee Shade', cursive;
  /* color: black; */
  /* padding: 12px 24px; */
  /* border: none; */
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#random-park-button:hover {
  background-color: random;
}

/* #random-park-button i {
  margin-right: 8px;
} */



.navbar .logo {
  font-family: 'Bungee Shade', cursive;
  font-size: 36px;
  font-weight: 300;
}


.dropdown-content {
  border-radius: 5px;
  width: 180px;
}

.dropbtn:hover,
.dropdown-content {
  display: block;
}

.dropbtn {
  font-family: 'Bungee Shade', cursive;
  font-weight: 800;
  background-color: white;
  color: black;
  width: 90px;
  padding: 5px;
  margin: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown:hover #state select {
  display: block;
}

select {
  display: none;
  width: 100px;
  padding: auto;
  margin: auto;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.container {
  width: 100%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#parks-list {
  padding: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch; */
}

.flip-card-inner img {
  object-fit: cover;
  border-color: bisque;
  width: 300px;
  height: 150px;
  border-radius: 10px;
}


.bg {
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.website {
  font-family: 'Bungee Shade', cursive;
  font-weight: 700;
  color: black;
  width: 180px;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  height: 350px;
  border: 1px solid black;
  perspective: 1000px;
  margin: 10px;
  padding: 10px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

  height: auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  text-align: left;
  overflow: auto;
  border-radius: 5px;
  /* background-color: dodgerblue; */
  color: black;
  transform: rotateY(180deg);
}