#navbar {
  background: lightslategray;
  color: lightslategray;
  overflow: auto;
}


body {
  font-family: Arial, sans-serif;
  background-size: cover;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  font-family: sans-serif;
  font-weight: 800;
  background-color: black;
  color: white;
  width: 180px;
  padding: 25px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: lightblue;
}

/* parks by state */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#parks-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}



a {
  color: #3498DB;
}

card img {
  max-width: 40%;
  border-radius: 5px;
  height: auto;
}

card {
  color: white;
  background-color: black;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 350px;
  height: 350px;
  margin: 10px;
  box-shadow: 2px 2px 5px #333;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

card:hover {
  top: 2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 10%;
  z-index: -1;
}