#navbar {
  background: #333;
  color: lightblue;
  overflow: auto;
}


#navbar a {
  color: lightblue;
}

#navbar h1 {
  float: left;
  padding-top: 30px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}


body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: lightblue;
}

/* parks by state */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#parks-list {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}

.card {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 16px;
  text-align: center;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 15%;
  height: auto;
}