@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  /* background-size: cover; */
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

p {
  border-radius: 10px;
  border: 2px solid white
}

nav .logo {
  text-align: center;
  border-radius: 10px;
  background-color: black;
  color: white;
}

nav button {
  padding: 10px;
  font-weight: 800;
  font-size: 28px;
  border-radius: 20px;
  border: 2px solid black;
}

nav .i {
  color: white;
  font-size: 30px;
  text-align: left;
}

#random-park-button {
  padding: 10px;
  margin: 5px;
  float: right;
  text-align: left;
  font-family: 'Bungee Shade', cursive;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
}

.navbar .logo {
  font-family: 'Bungee Shade', cursive;
  font-size: 36px;
  font-weight: 300;
}


.dropdown-content {
  border-radius: 5px;
  width: 180px;
}

.dropbtn {
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
}

.dropdown:hover select {
  display: block;
  cursor: pointer;
}

select {
  display: block;
  width: 100px;
  padding: auto;
  margin: 0 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.container {
  width: 100%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#parks-list {
  padding: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flip-card-inner img {
  object-fit: cover;
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out 1s both;
  animation: kenburns-top 5s ease-out 1s both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}


#bg {
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

a {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
  width: 300px;
  height: 350px;
  border: 1px solid black;
  perspective: 1000px;
  margin: 10px;
  padding: 10px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  height: 100%;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.flip-card-front image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Style the back side */
.flip-card-back {
  text-align: center;
  overflow: auto;
  border-radius: 5px;
  color: white;
  transform: rotateY(180deg);
}